* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
	background: #f3f3f3;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;

	padding: 16px 18px;
	height: 70px;
	color: #fff;
	z-index: 10;
}

.header-menu .active{
	position: relative;
	font-weight: 700;
	opacity: 1;
}

.header-menu .active::after{
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -10px;
	width: 26px;
	height: 3px;
	background: #fff;
	border-radius: 999px;
}

.header-menu{
	display: flex;
	gap: 20px;
}
.header-menu span {
	opacity: 0.7;
}
.header-menu.active{
	opacity: 1;
	font-weight: 700;
}
/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}

/* Sidebar */
.sidebar {
padding: 0 16px;
position: absolute;
right: 10px;

bottom: 120px;

display: flex;
flex-direction: column;
align-items: center;
gap: 20px;

color: #fff;
}
.icon{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.icon i{
	font-size: 28px;
}

.icon span{
	font-size: 13px;
	margin-top: 4px;
}

.profile-pic {
	position: relative;
}

.profile-pic img{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid white;
}

.follow {
	position: absolute;
	bottom: -6px;
	left: 50%;
	transform: translateX(-50%);

	width: 20px;
	height: 20px;

	background: red;
	color: #fff;

	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 14px;
	font-weight: bold;
}

.reel-footer{
    position:absolute;
    bottom: 0;
    left: 0;
	right: 0;
    
	display: flex;
	justify-content: space-around;
	align-items: center;

	height: 58px;
	padding: 8px 0;
    
	background: #000;
	color: #fff;
	z-index: 10;
}

.footer-item{
	color: #fff;
	text-decoration: none;
	color: inherit;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
	font-size: 10px;
	opacity: 0.85;
}

.footer-item.active{
	opacity: 1;
}

.footer-item i{
	font-size: 22px;
}

.video-info{
  position: absolute;
  bottom: 70px;
  left: 12px;
  right: 100px;
  color: white;
  font-size: 14px;
  line-height: 1.3;
}

.video-user{
  font-weight: 700;
  margin-bottom: 4px;
}

.video-description span{
  font-weight: 700;
}

/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */

/*
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}
/*
.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */
